In [2]:
import pandas as pd

In [16]:
df = pd.read_csv(r"C:\Users\USER\Desktop\Football-XAI-suite\data\master_football_xai_dataset.csv")

In [18]:
df.head()

,player_id,player_name,age,nationality,height_cm,weight_kg,club_name,position,matches_played,minutes_played,...,recovery_time_hours,muscle_strength_score,injury_risk_score,injury_risk_level,team_strength_rating,opponent_strength_rating,possession_pct,goals_scored_team,goals_conceded_team,match_result
0,1,Lionel Messi,24,France,191,64,Inter Miami,Forward,28,1925,...,49,32.016872,84.733745,High,51.416608,49.877795,32.530548,0,2,Loss
1,2,Cristiano Ronaldo,32,Paraguay,184,81,Al-Nassr,Forward,47,3217,...,73,53.848458,42.906185,Medium,50.702896,80.258720,71.632405,2,0,Win
2,3,Kylian Mbappé,28,Japan,187,92,Paris Saint-Germain,Forward,4,293,...,14,32.497163,88.473089,High,52.140300,49.288848,44.152940,0,0,Draw
3,4,Erling Haaland,25,England,197,87,Manchester City,Forward,57,3897,...,27,62.766519,100.000000,High,49.946957,44.248314,61.476071,2,3,Loss
4,5,Neymar,24,Japan,186,62,Al-Hilal,Forward,34,2333,...,23,56.076402,79.392181,High,48.236251,61.812301,26.017054,1,5,Loss

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1993 entries, 0 to 1992
Data columns (total 34 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   player_id                    1993 non-null   int64
 1   player_name                  1993 non-null   object
 2   age                          1993 non-null   int64
 3   nationality                  1993 non-null   object
 4   height_cm                    1993 non-null   int64
 5   weight_kg                    1993 non-null   int64
 6   club_name                    1993 non-null   object
 7   position                     1993 non-null   object
 8   matches_played               1993 non-null   int64
 9   minutes_played               1993 non-null   int64
 10  goals                        1993 non-null   int64
 11  assists                      1993 non-null   int64
 12  shots_on_target              1993 non-null   int64
 13  pass_accuracy                1993 non-null   float64
 14  dribbles_completed           1993 non-null   int64
 15  dribble_success_rate         1993 non-null   float64
 16  tackles                      1993 non-null   int64
 17  interceptions                1993 non-null   int64
 18  sprint_speed                 1993 non-null   float64
 19  stamina_score                1993 non-null   float64
 20  overall_rating               1993 non-null   int64
 21  past_injury_count            1993 non-null   int64
 22  training_load_score          1993 non-null   float64
 23  average_distance_covered_km  1993 non-null   float64
 24  recovery_time_hours          1993 non-null   int64
 25  muscle_strength_score        1993 non-null   float64
 26  injury_risk_score            1993 non-null   float64
 27  injury_risk_level            1993 non-null   object
 28  team_strength_rating         1993 non-null   float64
 29  opponent_strength_rating     1993 non-null   float64
 30  possession_pct               1993 non-null   float64
 31  goals_scored_team            1993 non-null   int64
 32  goals_conceded_team          1993 non-null   int64
 33  match_result                 1993 non-null   object
dtypes: float64(11), int64(17), object(6)
memory usage: 529.5+ KB

In [22]:
df.describe()

,player_id,age,height_cm,weight_kg,matches_played,minutes_played,goals,assists,shots_on_target,pass_accuracy,...,training_load_score,average_distance_covered_km,recovery_time_hours,muscle_strength_score,injury_risk_score,team_strength_rating,opponent_strength_rating,possession_pct,goals_scored_team,goals_conceded_team
count,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000,...,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000
mean,997.000000,26.813347,183.512795,81.739589,30.123934,2069.427496,1.457602,0.447065,1.381836,80.078903,...,56.766084,10.970492,41.955845,62.552359,65.561477,49.992063,64.751061,49.202562,1.587055,1.364777
std,575.473863,5.551627,7.039330,8.927470,17.711295,1204.368028,3.123035,1.001170,2.559181,8.574446,...,21.636406,1.733822,17.858633,18.956365,20.619095,2.003852,14.484868,14.168614,1.250933,1.186395
min,1.000000,18.000000,160.000000,52.000000,0.000000,21.000000,0.000000,0.000000,0.000000,65.025473,...,20.029314,8.003134,12.000000,30.013206,3.719318,43.960976,40.012050,25.012147,0.000000,0.000000
25%,499.000000,22.000000,179.000000,76.000000,15.000000,1041.000000,0.000000,0.000000,0.000000,72.634727,...,37.933171,9.494887,27.000000,46.692637,51.202254,48.584748,52.180740,37.235780,1.000000,0.000000
50%,997.000000,27.000000,184.000000,82.000000,30.000000,2061.000000,0.000000,0.000000,0.000000,80.159278,...,56.597137,10.954926,42.000000,62.330216,66.217954,50.000414,64.261523,49.056285,1.000000,1.000000
75%,1495.000000,32.000000,189.000000,88.000000,46.000000,3149.000000,2.000000,0.000000,2.000000,87.532376,...,75.427366,12.465601,57.000000,79.231703,80.926519,51.331849,77.636357,60.707657,2.000000,2.000000
max,1993.000000,36.000000,208.000000,118.000000,60.000000,4101.000000,38.000000,8.000000,27.000000,94.994665,...,94.970665,13.999398,73.000000,94.962854,100.000000,57.852475,89.973034,74.945235,8.000000,6.000000